HEROKU_API_KEY = '...'
HEROKU_STAGING_APP = '...'
HEROKU_PRODUCTION_APP = '...'

GITHUB_REPO = 'username_or_org/repo'
GITHUB_USERNAME = 'username'
GITHUB_TOKEN = 'private_token'

TRACKER_TOKEN = 'tracker_token'
TRACKER_PROJECT_ID = 1234567

